//
   Created by 218012662 on 3/2/14.
html
    head
        meta(name='keyword' content='')
            body
                header
                    hgroup
                        h1.title.

                        h2
                            script
                                document.write(new Date().toString());
                section.goalsandobjectives
                    ul
                        li.

                section.agenda
                    ul
                        li.
                            This is a test of the emergency broadcast system. This is only a test. Can you hea


                section.notes
                    ul
                        li
                            | CIT Path Forward
                            | Current concensus is to migrate the app to prod and remediate issues at that point
                            | This is based on the fact that we cannot see issues that are causing performance problems beneath the platform
                            | New production servers
                            ul
                                li
                                    | Require hostnames - matt provided
                                    | Need confirmation on parity between QA and Prod
                        li
                            | MS Case quality management


                section.actionitems.aws
                    ol
                        li
                            | This is a test of the emergency broadcast system
                            | This is only a test
                        li.
                            This is a test of th ejfkdla
                            fjsaifjfkdslfjkljdksl;afjkdslj
                            dfjkdsl;ajfkld;sajfklsd
                            dfjkdsl;jfkl;asjk
                            asdjfklasdjk;





