/*change elements created by the shiv from inline to block */
article, aside, figure, footer, header, nav, section {
    display: block;
}

@font-face {
    font-family: "Taco Modern";
    src: url("TACOM___.eot?") format("eot"), url("TACOM___.woff") format("woff"), url("TACOM___.ttf") format("truetype"), url("TACOM___.svg#TacoModern") format("svg");

}

@font-face {
    font-family: "Mexican fiesta";
    src: url("mexican_fiesta.eot?") format("eot"), url("mexican_fiesta.woff") format("woff"), url("mexican_fiesta.ttf") format("truetype"), url("mexican_fiesta.svg#Mexicanfiesta") format("svg");

}

* {
    margin: 0;
    padding: 0;
}

#slides {
    display: none;
    box-shadow: #A68800 0 5px 5px 5px;
}

html {
    min-width: 1000px;
    max-width: 1000px;
}

body {
    background-color: #ffe673;
    width: 90%;
    height: 1600px;

}

.hidden {
    display: none;
}

#veil {
    border: solid 1px #A68800;
    background-color: #ffdd40;
    width: 95%;
    margin: 30% 7.5% 7.5% 7.5%;
    height: 3000px;
    box-shadow: 0px 5px 5px 5px #A68800;
    float: left;

}

#obscured_image {
    margin-left: 200px;
    margin-top: 5px;
    position: fixed;
    z-index: -1;
}

.downarrow {
    margin-left: 400px;
    margin-top: 5%;
    margin-bottom: 0;
}

.veil_title {
    font-size: 300%;
    margin-top: 2%;
    font-family: "Taco Modern", sans-serif;
    text-align: center;
}

p.veil_title {
    font-size: 150%;
    margin-bottom: 30px;
}


h2.veil_title {
    font-size: 200%;

}

#veil_message {

    font-family: "Taco Modern", sans-serif;
    text-align: center;
    margin-top: 50%;
    margin-bottom: 30px;

}

#rsvp {
    font-family: "Taco Modern", sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#slides {
    margin: 10px;
    height: 400px;

}

#veil_message:first-child {
    font-size: 200%;
}

.slidesjs-navigation {
    display: none;
}

.slidesjs-pagination-item {
    display: none;
}

.sloppy_arrow {
    clear: both;
    margin-left: 350px;
}